
<div class="footer-menu">
<ul>
	<li><a href="https://www.facebook.com/ossiancircle" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
	<li><a href="https://twitter.com/ossiancircle" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
	<li><i class="fa fa-envelope-o fa-2x"></i></li>
</ul>
<%= footer_menu.to_html %>
<small>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</small>
</div>